# Unity 自动生成的文件，不需要上传
Library/
Logs/
Temp/
UserSettings/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Visual Studio Code 配置
.vscode/

# Rider 配置
.idea/
*.iml

# macOS 文件
.DS_Store
